/customer/node_modules
/customer/.env

/product/node_modules
/product/.env

/shopping/node_modules
/shopping/.env

/vendor/node_modules
/vendor/.env

/deliveryman/node_modules
/deliveryman/.env

/feedback/node_modules
/feedback/.env

/gateway/node_modules
/gateway/.env